//Light theme colors 
$primary-color: #c29b86;
$secondary-color: #d9bdaf;
$background-color: #f2dfd6;
$text-color: #1a1a1a;

//Dark theme colors 
$dark-primary-color: #8b6f61;
$dark-secondary-color: #a1887f;
$dark-background-color: #2b2b2b;
$dark-text-color: #f1f1f1;

//For buttons
$border-radius: 9px;

//Animated hover text color
$hover-text-color: rgb(0, 255, 17);
$hover-shadow-color: rgb(4, 78, 9);
$hover-base-color: blue;




